 {% extends "layout.html" %}
{% block content %}
  <p>Sending message to: </p><h6>{{ user.username }}</h6>
  <form method="POST" action="" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        
          <div class="form-row">
            <div class="col">
                {{ form.text.label(class="form-control-label") }}
                {{ form.text(class="form-control form-control-lg") }}

              </div>
              
            </div>
        </fieldset>
      <div class="form-group">
        <button type="submit"><i class="fa fa-comments">
        {{ form.submit(class="btn btn-outline-info") }}
        </i></button>
      </div>

    </form>
{% endblock content %}
