{% extends "layout.html" %}
{% block content %}
  
  {% for post in posts %}
        <article class="media content-section">
          {% if not post.author == current_user %}
          <form method="POST" action="{{ url_for('upvote', post_id=post.id) }}">
            
            <button id="clicked" type="submit" class="btn btn-link" data-toggle="popover" title="Upvote" data-content="You can upvote posts!">

                <span class="fa fa-arrow-up"></span>
                             
            </button>
             <script type="text/javascript">
                function myFunction() {
                  document.getElementById("clicked").style.color = "green";
                }
              </script>

          </form>
          {% endif %}
          {% if current_user.is_authenticated %}
            {% if not (post in blist) %}
              <form method="POST" action="{{ url_for('bookmark', post_id=post.id) }}">
                
                <button id="clicked" type="submit" class="btn btn-link" data-toggle="popover" title="Bookmark" data-content="You can upvote posts!">

                <i class="fa fa-bookmark" aria-hidden="true"></i>
                             
                </button>

              </form>
            {% endif %}
          {% endif %}
          <div style="width:20px; height:20px; border: 1px solid black; text-align: center; background-color: #D4EDFE; padding-bottom: 25px;">
            <p>{{ post.upvotes }}</p>
          </div>
          <img class="rounded-circle article-img" style="padding-left:5px;" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <p>by <a href="{{ url_for('displayuser', user_id = post.author.id) }}"> {{ post.author.username }} </a></p>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              
            </div>
            <h2><a class="article-title" href="{{ url_for('post_display', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.summary }}</p>
          </div>
        
        </article>
    {% endfor %}
{% endblock content %}